{% extends "base.html" %}

{% block content %}
    <div class="gameListHeader">
        <h3 class="page-title"> List of Available Games </h3>
        <form action="/play" id="play-form" method="POST" enctype="multipart/form-data">
            <button class="createButton">Create</button>
        </form>
    </div>
    <main>
        <table class="userlist" id="availableGames">
            <tr>
                <th id="player"> Username </th>
                <th id="play">Play</th>
            </tr>
            <!-- Template -- Needs to be changed to cover actual user data -->
            {% for game in games %}
            <tr id={{game._id}}>
                <td id="username">{{ (db.find({"_id": game.player1}))[0].username }}'s game</td>
                <td id="play-button">
                    <form action="/join/{{game._id}}" id="join-form" method="POST" enctype="multipart/form-data">
                        <button class="userButton">Join Game</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </main>

{% endblock %}